{
  "app": {
    "guid": "ab3ff8b1-3fa1-4a35-999a-00f2edf953ad",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.testeoxiteno",
    "artifactId": "io.cronapp.apps.testeoxiteno"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "openApi": {
    "exposeEndpoints": false,
    "exposeDataSources": false,
    "exposeEntities": false,
    "exposeBlocklys": false,
    "exposeAuth": false
  },
  "security": {
    "token": "YWIzZmY4YjEtM2ZhMS00YTM1LTk5OWEtMDBmMmVkZjk1M2Fk",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "SSO",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.saml.storePass": "storePass",
      "cronapp.framework.mailer.scheduler.batchSize": "10",
      "security.oauth2.client.accessTokenUri": "https://login.microsoftonline.com/880c7543-009f-4e2c-aa60-5e2b46f29aec/oauth2/v2.0/token",
      "cronapp.framework.mailer.username": "email@gmail.com",
      "cronapp.framework.mailer.host": "smtp.gmail.com",
      "security.oauth2.saml.entityId": "entityId",
      "cronapp.framework.mailer.auth": "true",
      "security.oauth2.client.userAuthorizationUri": "https://login.microsoftonline.com/880c7543-009f-4e2c-aa60-5e2b46f29aec/oauth2/v2.0/authorize",
      "security.oauth2.saml.maxAuthenticationAge": "7200",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.resource.userInfoUri": "https://graph.microsoft.com/v1.0/me",
      "security.oauth2.client.logoutUri": "https://login.microsoftonline.com/880c7543-009f-4e2c-aa60-5e2b46f29aec/oauth2/v2.0/logout",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.client.scope": "openid profile email",
      "security.oauth2.client.clientId": "0a0c7810-1679-4691-bdf8-cc7155a43b3d",
      "cronapp.framework.mailer.password": "password",
      "cronapp.framework.mailer.protocol": "smtp",
      "cronapp.framework.mailer.tls": "true",
      "security.oauth2.saml.forceAuthN": "false",
      "cronapp.framework.mailer.port": "587",
      "spring.output.ansi.enabled": "ALWAYS",
      "security.oauth2.client.clientSecret": "Csm8Q~8zRv6WwgAvMrn80QlAOl1Wcge03TVk8djW",
      "cronapp.framework.mailer.scheduler.expression": "0 * * ? * *",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "cronapp.security.authentication": "true",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.resource.preferTokenInfo": "false"
    },
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.testeoxiteno",
      "backend": "true",
      "theme": "Material",
      "availableSignup": "true",
      "authentication": "SSO",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true,
    "minPasswordSize": 6,
    "failedAttempts": 4,
    "blockTime": 10,
    "idletime": 0,
    "onlyStrongPass": true,
    "dontAllowRepeatedPass": true,
    "minUpperCase": 1,
    "minDigit": 1,
    "minSpecial": 1
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "proxy": {
    "host": "",
    "port": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "cors": "*",
  "corsMethods": "*",
  "corsHeaders": "*",
  "projectName": "SSO_azure",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "themeConfiguration": {
    "webTheme": {
      "themeName": "Material",
      "searchableText": "MaterialO tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "themeDescription": "O tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1908357970.png",
      "themePath": "node_modules/cronapp-framework-js/css/themes/material.min.css",
      "deprecated": false
    },
    "mobileTheme": {
      "themeName": "Material",
      "searchableText": "MaterialO tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "themeDescription": "O tema Material utiliza o padrão de HTML e CSS do Bootstrap com suporte à acessibilidade ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image--1908357970.png",
      "themePath": "node_modules/cronapp-framework-mobile-js/css/themes/material.min.css",
      "deprecated": false
    },
    "webSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    },
    "mobileSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    }
  },
  "saveAuditLog": 365,
  "servicesConfiguration": {
    "storeCredentials": false,
    "elasticServer": null,
    "apmServer": null,
    "cacheServer": null,
    "queueServer": null,
    "storageServer": null,
    "analyticsServer": null
  },
  "showStackTrace": true,
  "locale": "",
  "biometricAuthentication": true,
  "webLogoutRoute": "views/login.view.html",
  "mobileLogoutRoute": "views/login.view.html",
  "extraHeaders": [],
  "webMainRoute": "views/login.view.html",
  "mobileMainRoute": "views/login.view.html",
  "xframeOptions": "SameOrigin"
}